<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMA Taller Chapa y Pintura</title>
    <!--FAVICON LOGOTIPO Productos-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <!--CSS Productos-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
   <!--Cabecera Productos--> 
    <header>
        <img class="logo" src="../assets/images/logotipo/logo.png" width="250" height="250" alt="logo">
        <h1>VMA Taller Chapa y Pintura</h1>   
    </header>
     <!--Barra de Navegacion Productos-->
     <nav>
        <ul class="navigation">
            <li><a class="enlace" href="../index.html">Inicio</a></li>
            <li><a class="enlace active" href="#">Productos</a></li>
            <li><a class="enlace" href="../views/presupuesto.html">Presupuesto</a></li>
            <li><a class="enlace" href="../views/contacto.html">Contacto</a></li>
        </ul>
        <form>
            <input type="search" placeholder="buscar">
            <input class="negro" type="submit" value="Buscar">
        </form>
    </nav>
    <!--Principal Productos-->
    <main>    
    <!--Secccion Galeria de Imagenes Trabajos Realizados (Productos)-->
       <section class="trabajos">
        <h2>Reparaciones</h2>       
        <div class="trabajos1">
                <p>Estos son algunos de nuestros trabajos realizados</p>
            <img class="coche" src="../assets/images/reparaciones/accidente1.jpg" width="400" height="225" alt="accidente1">
            <img class="coche" src="../assets/images/reparaciones/accidente2.jpg" width="400" height="225" alt="accidente2">
            <img class="coche" src="../assets/images/reparaciones/reparacion1.jpg" width="400" height="236" alt="reparacion1">
            <img class="coche" src="../assets/images/reparaciones/reparacion2.jpg" width="400" height="225" alt="reparacion2">
            <img class="coche" src="../assets/images/reparaciones/reparacion3.jpg" width="400" height="300" alt="reparacion3">
            <img class="coche" src="../assets/images/reparaciones/reparacion4.jpg" width="400" height="300" alt="reparacion4">
            <img class="coche" src="../assets/images/reparaciones/reparacion5.jpg" width="300" height="169" alt="reparacion5">
            <img class="coche" src="../assets/images/reparaciones/reparacion6.jpg" width="300" height="169" alt="reparacion6">
            <img class="coche" src="../assets/images/reparaciones/reparacion7.jpg" width="300" height="169" alt="reparacion7">
            <img class="coche" src="../assets/images/reparaciones/reparacion8.jpg" width="300" height="169" alt="reparacion8">
            <img class="coche" src="../assets/images/reparaciones/coche1.jpg" width="300" height="225" alt="coche1">
            <img class="coche" src="../assets/images/reparaciones/reparacion9.jpg" width="300" height="169" alt="reparacion9">
                <p>Siempre ultilizando productos de primera qualidad</p>
            <img class="coche" src="../assets/images/chapapintura/marcapintura.png" width="225" height="225" alt="marcapintura">
            <img class="coche" src="../assets/images/taller/herramientas.jpeg" width="225" height="225" alt="herramientas">
        </div>
       </section> 
       <!--Barra lateral Productos-->
       <aside>
        <img class="foto" src="../assets/images/taller/mercedes.jpeg" width="300" height="168" alt="mercedes">
        <p>Mientras reparemos su coche, tienes derecho a un coche de substituicion</p>
       
        <h3>Nuestros horarios</h3>
        <p>Lunes a Viernes de 9:00h hasta 19:00h</p>   
    
       <img class="foto" src="../assets/images/taller/bmw.jpeg" width="299" height="168" alt="bmw">
       <img class="foto" src="../assets/images/taller/ford.jpeg" width="291" height="173" alt="ford">
       <img class="foto" src="../assets/images/taller/jaguar.jpeg" width="299" height="168" alt="jaguar">
       <img class="foto" src="../assets/images/taller/audi.jpeg" width="343" height="147" alt="audi">
      </aside>        
    </main>
    <!--Pie de pagina Rss Productos-->
    <footer>
        <img class="logo" src="../assets/images/logotipo/logo.png" width="250" height="250" alt="logo">        
        <div>
            <h2>Nuestra direccion</h2>  
            <p>Avinguda Joan,0 Encamp AD200 </p>            
            <a class="email" href="mailto:vmatallerchapaypintura@hotmail.com">vmatallerchapaypintura@hotmail.com</a>
            <p>Tel:5555-5555</p>                  
            <h3>Nuestras Redes sociales</h3>
            <a href="https://www.instagram.com/"><img class="rss" src="../assets/images/logosrss/instagram.png"
             width="225" height="224" alt="instagram"></a>     
            <a href="https://es-la.facebook.com/"><img class="rss" src="../assets/images/logosrss/facebook.png"
             width="225" height="225" alt="facebook"></a>             
            <p>Aviso Legal</p>
        </div> 
        <img class="logo" src="../assets/images/logotipo/logo.png" width="250" height="250" alt="logo">              
    </footer>
    
</body>
</html>